/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Overall App Container with Grey Background */
.App {
  min-height: 100vh;
  background-color: #d0d0d0; /* Adjust this grey to your preference */
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: #333;
}

@font-face {
  font-family: Casanova;
  src: "/assets/branding/Casanova.ttf";
}

@font-face {
  font-family: Raleway;
  src: "/assets/branding/Raleway/Raleway-VariableFont_wght.ttf";
  font-weight: 100 900; /* min-max weight range */
  font-style: normal;
}

/* Italic version */
@font-face {
  font-family: Raleway;
  src: "/assets/branding/Raleway/Raleway-Italic-VariableFont_wght.ttf";
  font-weight: 100 900; /* Full range of weights supported */
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Casanova;
}

body {
  cursor: none;
}

a,
.nav-links a {
  cursor: none !important;
}

p {
  font-family: Raleway;
  font-weight: 400;
  font-size: 12pt;
  line-height: 2rem;
}

figcaption {
  font-family: Raleway;
  font-size: 10pt;
  font-style: italic;
  text-align: center;
  margin-top: 0.5em;
}